@{
    ViewBag.Title = "Home Page";
}
    
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Image/firstpage.jfif")" style="margin-top:30%">
                <img src="@Url.Content("~/Content/Image/firstpage5.jfif")" style="margin-top:10%">

            </div>
            <div class="col-6" style="height:300px">
                <h1 style="margin-left:20%;font-family:'Lucida Handwriting';color:Highlight">Electron</h1>
                <img src="@Url.Content("~/Content/Image/Firstpage1.jfif")" style="margin-top:10%;margin-left:17%" />
                <img src="@Url.Content("~/Content/Image/firstpage2.jfif")" style="margin-top:18%;margin-left:15%" />
            </div>
            <div class="col-md-3" style="top:50px;left:150px">
                <h4>@Html.ActionLink("Our catalog", "Index", "Catalog", null, new { @class = "Redlink" })</h4>
                <img src="@Url.Content("~/Content/Image/Firstpage4.jfif")" style="margin-top:10%;margin-right:10%" />
            </div>
        </div>
        </div>
        <div style="position:absolute;bottom:300px" class="container">
            <div class="row">
                <div style="top:220px" class="col-md-3">
                    
                </div>

            </div>
        </div>


